=begin
#Stacks Blockchain API

#Welcome to the API reference overview for the <a href=\"https://docs.hiro.so/get-started/stacks-blockchain-api\">Stacks Blockchain API</a>.  <a href=\"https://hirosystems.github.io/stacks-blockchain-api/collection.json\" download=\"stacks-api-collection.json\">Download Postman collection</a> 

The version of the OpenAPI document: v3.0.3

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module StacksBlockchainApi
  class MicroblocksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get microblock
    # Retrieves a specific microblock by `hash`
    # @param hash [String] Hash of the microblock
    # @param [Hash] opts the optional parameters
    # @return [Microblock]
    def get_microblock_by_hash(hash, opts = {})
      data, _status_code, _headers = get_microblock_by_hash_with_http_info(hash, opts)
      data
    end

    # Get microblock
    # Retrieves a specific microblock by &#x60;hash&#x60;
    # @param hash [String] Hash of the microblock
    # @param [Hash] opts the optional parameters
    # @return [Array<(Microblock, Integer, Hash)>] Microblock data, response status code and response headers
    def get_microblock_by_hash_with_http_info(hash, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MicroblocksApi.get_microblock_by_hash ...'
      end
      # verify the required parameter 'hash' is set
      if @api_client.config.client_side_validation && hash.nil?
        fail ArgumentError, "Missing the required parameter 'hash' when calling MicroblocksApi.get_microblock_by_hash"
      end
      # resource path
      local_var_path = '/extended/v1/microblock/{hash}'.sub('{' + 'hash' + '}', CGI.escape(hash.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Microblock'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MicroblocksApi.get_microblock_by_hash",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MicroblocksApi#get_microblock_by_hash\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get recent microblocks
    # Retrieves a list of microblocks.  If you need to actively monitor new microblocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max number of microblocks to fetch (default to 20)
    # @option opts [Integer] :offset Index of the first microblock to fetch
    # @return [MicroblockListResponse]
    def get_microblock_list(opts = {})
      data, _status_code, _headers = get_microblock_list_with_http_info(opts)
      data
    end

    # Get recent microblocks
    # Retrieves a list of microblocks.  If you need to actively monitor new microblocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max number of microblocks to fetch
    # @option opts [Integer] :offset Index of the first microblock to fetch
    # @return [Array<(MicroblockListResponse, Integer, Hash)>] MicroblockListResponse data, response status code and response headers
    def get_microblock_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MicroblocksApi.get_microblock_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MicroblocksApi.get_microblock_list, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/extended/v1/microblock'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MicroblockListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MicroblocksApi.get_microblock_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MicroblocksApi#get_microblock_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the list of current transactions that belong to unanchored microblocks
    # Retrieves transactions that have been streamed in microblocks but not yet accepted or rejected in an anchor block
    # @param [Hash] opts the optional parameters
    # @return [UnanchoredTransactionListResponse]
    def get_unanchored_txs(opts = {})
      data, _status_code, _headers = get_unanchored_txs_with_http_info(opts)
      data
    end

    # Get the list of current transactions that belong to unanchored microblocks
    # Retrieves transactions that have been streamed in microblocks but not yet accepted or rejected in an anchor block
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnanchoredTransactionListResponse, Integer, Hash)>] UnanchoredTransactionListResponse data, response status code and response headers
    def get_unanchored_txs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MicroblocksApi.get_unanchored_txs ...'
      end
      # resource path
      local_var_path = '/extended/v1/microblock/unanchored/txs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnanchoredTransactionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MicroblocksApi.get_unanchored_txs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MicroblocksApi#get_unanchored_txs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
